# ignore all
*

# except
!.gitignore
!documentation.pdf
!README.md
!/Hardware
!/Hardware/**
!/Setup
!/Setup/**

# OnStep file to be preserved
!/OnStep
/OnStep/*

# save Config.h
!/OnStep/Config.h

# save pinmap
!/OnStep/src
/OnStep/src/*
!/OnStep/src/pinmaps
/OnStep/src/pinmaps/*
!/OnStep/src/pinmaps/Pins.CNC3.h

# comment to publish
!/Chapters
!/Chapters/**
!/images
!/images/**
!/Commons
!/Commons/**