# ignore all ("*/" ignore subfolders)
*
*/

# except
!.gitignore
!documentation.pdf
!README.md
!/Hardware
!/Setup

# OnStep file to preserve
!/OnStep
/OnStep/*
# save Config.h
!/OnStep/Config.h
# save pinmap
!/OnStep/src
/OnStep/src/*
!/OnStep/src/pinmaps
/OnStep/src/pinmaps/*
!/OnStep/src/pinmaps/Pins.CNC3.h

# Once the repo will be public, comment out this
!documentation.tex
!/images
!/Chapters
!/Commons