# ignore all
*

# except
!.gitignore
!documentation.pdf
!README.md
!/Hardware
!/Hardware/**
!/Setup
!/Setup/**

# OnStep file to be preserved
!/OnStep
/OnStep/*
# save Config.h
!/OnStep/Config.h
# save pinmap
!/OnStep/src
/OnStep/src/*
!/OnStep/src/pinmaps
/OnStep/src/pinmaps/*
!/OnStep/src/pinmaps/Pins.CNC3.h

# Once the repo will be public, comment out this
!documentation.tex
!/images
!/images/**
!/Chapters
!/Chapters/*
!/Commons
!/Commons/*

# remove latex intermediate files
*.aux